* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #292828;
    color: #FFF;
    text-align: center;
    height: 100vh;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 70px;
}

.container .colon {
    margin: 0 10px;
}

.container .ampm {
    margin: 0 10px;
    color: #e22d00;
}
